TUN中的auto_redirect选项破坏了系统防火墙的功能

### 操作系统

Linux

### 系统版本

NixOS

### 安装类型

sing-box 原始命令行程序

### 如果您使用图形客户端程序，请提供该程序版本。

_No response_

### 版本

```shell
sing-box version 1.12.12

Environment: go1.25.4 linux/amd64
Tags: with_quic,with_dhcp,with_wireguard,with_utls,with_acme,with_clash_api,with_gvisor,with_tailscale
CGO: enabled
```

### 描述

sing-box在TUN相关的配置中启用了`auto_redirect`选项后会在nft中插入`sing-box`表，其中`chain prerouting`中有一条规则:
> meta nfproto ipv4 meta l4proto tcp counter packets 9 bytes 576 redirect to :43889 return

会把流量的目的端口重定向至43889。

这会破坏基于目的端口地址防火墙的功能，让对外服务不可用。比如，我使用NixOS默认的防火墙规则：
```
table inet nixos-fw {
        set temp-ports {
                type inet_proto . inet_service
                flags interval
                comment "Temporarily opened ports"
        }

        chain rpfilter {
                type filter hook prerouting priority mangle + 10; policy drop;
                meta nfproto ipv4 udp sport . udp dport { 68 . 67, 67 . 68 } accept comment "DHCPv4 client/server"
                fib saddr . mark . iif check exists accept
                jump rpfilter-allow
        }

        chain rpfilter-allow {
        }

        chain input {
                type filter hook input priority filter; policy drop;
                iifname "lo" accept comment "trusted interfaces"
                ct state vmap { invalid : drop, established : accept, related : accept, new : jump input-allow, untracked : jump input-allow }
                tcp flags & (fin | syn | rst | ack) == syn log prefix "refused connection: " level info
        }

        chain input-allow {
                tcp dport { 22, 8080 } accept
                iifname "podman0" udp dport 53 accept
                meta l4proto . th dport @temp-ports accept
                icmp type echo-request accept comment "allow ping"
                icmpv6 type != { nd-redirect, 139 } accept comment "Accept all ICMPv6 messages except redirects and node information queries (type 139).  See RFC 4890, section 4.4."
                ip6 daddr fe80::/64 udp dport 546 accept comment "DHCPv6 client"
        }
}
```

其中`chain input-allow`允许了来自目的端口为`22`和`8080`的流量，然而在之前的规则中目的端口被重定向至`43889`，让原有规则不再生效，进而阻断入站连接。

在我把`input-allow`中的`tcp dport { 22, 8080 } accept`改为`tcp dport { 43889 } accept`后，入站连接可以正常建立。但是破坏了基于目的端口过滤数据包的功能。

我怀疑是sing-box使用类似tproxy这样的功能监听43889端口从而实现更好的转发性能。我想知道有没有不修改目的端口的方式来实现这一点。

### 重现方式

1. 在NixOS中启用nftable防火墙:
```
  networking.firewall.enable = true;
  networking.nftables.enable = true;
```
2. 在sing-box配置文件中启用TUN，并设置`auto_route`&`auto_redirect`为true。

### 日志

```shell

```

### 支持我们

- [ ] 我已经 [赞助](https://github.com/sponsors/nekohasekai/)

### 完整性要求

- [x] 我保证阅读了文档，了解所有我编写的配置文件项的含义，而不是大量堆砌看似有用的选项或默认值。
- [x] 我保证提供了可以在本地重现该问题的服务器、客户端配置文件与流程，而不是一个脱敏的复杂客户端配置文件。
- [x] 我保证提供了可用于重现我报告的错误的最简配置，而不是依赖远程服务器、TUN、图形界面客户端或者其他闭源软件。
- [x] 我保证提供了完整的配置文件与日志，而不是出于对自身智力的自信而仅提供了部分认为有用的部分。

代码中已有排除目标为本机地址流量的逻辑（`inet4_local_address_set`），理论上发往本机服务的流量不应被 redirect。

请提供 `nft list ruleset` 输出，确认：
1. `inet4_local_address_set` 是否包含你的本机 IP
2. 排除规则是否在 redirect 规则之前

Sorry for my late reply.

<details>
<summary>问题复现时的nft list ruleset输出：</summary>

```
table inet nixos-fw {
	set temp-ports {
		type inet_proto . inet_service
		flags interval
		comment "Temporarily opened ports"
	}

	chain rpfilter {
		type filter hook prerouting priority mangle + 10; policy drop;
		meta nfproto ipv4 udp sport . udp dport { 68 . 67, 67 . 68 } accept comment "DHCPv4 client/server"
		fib saddr . mark . iif check exists accept
		jump rpfilter-allow
	}

	chain rpfilter-allow {
	}

	chain input {
		type filter hook input priority filter; policy drop;
		iifname "lo" accept comment "trusted interfaces"
		ct state vmap { invalid : drop, established : accept, related : accept, new : jump input-allow, untracked : jump input-allow }
		tcp flags & (fin | syn | rst | ack) == syn log prefix "refused connection: " level info
	}

	chain input-allow {
		tcp dport 22 accept
		udp dport 5353 accept
		meta l4proto . th dport @temp-ports accept
		icmp type echo-request accept comment "allow ping"
		icmpv6 type != { nd-redirect, 139 } accept comment "Accept all ICMPv6 messages except redirects and node information queries (type 139).  See RFC 4890, section 4.4."
		ip6 daddr fe80::/64 udp dport 546 accept comment "DHCPv6 client"
	}
}
table inet sing-box {
	set inet4_local_address_set {
		type ipv4_addr
		flags interval
		elements = { 127.0.0.0/8, 172.18.0.0/30 }
	}

	chain output {
		type nat hook output priority mangle; policy accept;
		meta mark 0x00002024 counter packets 52 bytes 3675 return
		meta nfproto ipv4 oifname != "lo" meta l4proto { tcp, udp } th dport 53 counter packets 41 bytes 2948 dnat ip to 172.18.0.2
		ip daddr @inet4_local_address_set counter packets 0 bytes 0 return
		meta nfproto ipv4 meta l4proto tcp counter packets 17 bytes 1020 redirect to :33225 return
	}

	chain output_udp_icmp {
		type route hook output priority mangle; policy accept;
		meta l4proto != { icmp, udp, ipv6-icmp } return
		meta mark 0x00002024 counter packets 48 bytes 3643 return
		ct mark 0x00002024 counter packets 1 bytes 169 return
		ip daddr @inet4_local_address_set counter packets 0 bytes 0 return
		meta mark set 0x00002023 ct mark set meta mark counter packets 173 bytes 13392 return
	}

	chain prerouting {
		type nat hook prerouting priority dstnat + 1; policy accept;
		iifname "sing-tun" counter packets 0 bytes 0 return
		ip saddr @inet4_local_address_set meta l4proto { tcp, udp } th dport 53 counter packets 0 bytes 0 dnat ip to 172.18.0.2
		ip daddr @inet4_local_address_set counter packets 0 bytes 0 return
		meta nfproto ipv4 meta l4proto tcp counter packets 3 bytes 192 redirect to :33225 return
		meta mark set 0x00002023 ct mark set meta mark counter packets 17 bytes 2064 return
	}

	chain prerouting_udp_icmp {
		type filter hook prerouting priority dstnat + 2; policy accept;
		meta l4proto != { icmp, udp, ipv6-icmp } return
		iifname != "sing-tun" ct mark 0x00002023 meta mark set ct mark counter packets 69 bytes 8696
		ct mark != 0x00002023 meta mark set 0x00002024 ct mark set meta mark counter packets 42 bytes 3705
	}
}
```

</details>

由于`inet4_local_address_set`中没有包含本机IP，sing-box没有正确获取到地址，推测可能跟服务启动顺序有关。重启`sing-box`服务后行为正常。在此关闭issue。